# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mediascan package install dirs
**/moongas-go-mediascan
**/moongas-py-mediascan
**/moongas-py-mediatest
**/moongas-py-mediaserver

# Mediascan output files
**/mediascan-files.yml
**/mediascan-artists.yml
**/mediascan.db

# Mediascan server config (TODO: unignore, when ready)
**/mediaserver-config.yml
